<header>
        <div class="brillo">
            <div class="contenedor">
                <div class="caja-de-texto">
                    <h1 class="margenb-5">Raices Valentin</h1>
                    <p class="margenb-9">Si estás buscando casa , acude a quien la conoce desde hace 20 años.  Vendemos tu casa al mundo</p>
                    <a href="/ventas" class="boton">Aprender mas</a>
                </div>
            </div>
        </div>
    </header>
<main>
      <!--  Seccion 1 -->
    <section class="section-1">
        <div class="contenedor margent-5">
            <h2>Te ayudamos a buscar tu Casa de en sueño</h2>

            <div class="cajas">
                
                <div class="caja">
                    <img src="/images/home/icono-casa.png" alt="">
                    <h3>Casas</h3>
                    <p>casas para todos los gustos</p>
                </div>
                
                <div class="caja">
                    <img src="/images/home/icono-cama.png" alt="">
                    <h3>Comodidad</h3>
                    <p>te lo hacemos mas practico y rapido</p>
                </div>
                
                <div class="caja">
                    <img src="/images/home/icono-precio.png" alt="">
                    <h3>Precios</h3>
                    <p>Precios mas bajos, con menos comisiones</p>
                </div>

            </div>

        </div>
    </section>
    
    <!-- Seccion 2 -->
    
    <section class="section-2">
        <div class="contenedor">
           <div class="sobre-nosotros">
               <div class="sobre-nosotros-img">
                   <img src="/images/home/section-1.jpg" alt="section-1">
               </div>
               <div class="sobre-nosotros-texto">
                   <h2 class="margenb-5">Sobre nosotros</h2>
                    <div class="margenb-5">
                        <h3>Quienes Somos</h3>
                        <p>Somos una marca inmobiliaria que construye confianza y excelencia en la gestión de tus decisiones.
                            Si necesitás comprar, vender, alquilar, o decidir cómo y dónde invertir tus ahorros, posiblemente preguntarás referencias a tus conocidos, averiguarás entre las empresas más reconocidas del mercado.
                        </p>
                    </div>
                    <div class="margenb-5">
                        <h3>Historia</h3>
                        <p>Nuestra prestigiosa firma comenzó su actividad hace ya 70 años durante los cuales hemos aprendido a satisfacer las necesidades del mercado, liderando los cambios e incluyendo el asesoramiento en inversiones, impositivo y legal.</p>
                    </div>
                    <div>
                        <h3>Mision</h3>
                        <p>Nuestra Mision es LA COMODIDAD, TRANQUILIDAD, LUJO Y CONFORT QUE BUSCAS, PARA EL ESTILO DE VIDA QUE LLEVAS, LO ENCONTRARAS EN ESTE ESPECTACULAR</p>
                    </div>
               </div>
           </div>
        </div>
    </section>
    
    <!-- Seccion 3 -->

    <section class="section-3">
        <div class="contenedor">
            <h3>Propiedades</h3>
            <div class="cards">
                
                <div class="card">
                    <img class="ef-oscuro" src="/images/home/Buenosaires.jpg" alt="Buenos aires">
                    <a href="/ventas" class="lugar-caja-texto btn-blanco">Buenos aires</a>   
                </div>
                
                <div class="card">
                    <img class="ef-oscuro" src="/images/home/mardelplata.jpg" alt="Mar del plata">
                    <a href="/ventas" class="lugar-caja-texto btn-blanco">Mar del plata</a>
                </div>
                
                
                <div class="card">
                    <img class="ef-oscuro" src="/images/home/ushuaia.jpeg" alt="Ushuaia">
                    <a href="ventas.hbs" class="lugar-caja-texto btn-blanco">Ushuaia</a>
                </div>
            

            </div>
        </div>
    </section>
</main>
   