 <main class="main-ventas">
        <div class="contenedor">

            <h2 class="margenb-5">Propiedades Destacadas</h2>
       
            <div class="cards"><!-- contenedor de las solapas -->



                <div class="card">
                    <div class="card-img">
                        <img src="/images/ventas/card-1.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <div class="card-text-icons">
                            <i class="fas fa-bed"></i>
                            <p>3 Dormitorios</p>                            
                        </div>
                        <div class="card-text-icons">
                            <i class="fas fa-dollar-sign"></i>
                            <p>700.000</p>                    
                        </div>

                        <a href="#" class="boton">Comprar</a>
                    </div>
                </div>


                <div class="card">
                    <div class="card-img">
                        <img src="/images/ventas/card-2.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <div class="card-text-icons">
                            <i class="fas fa-bed"></i>
                            <p>5 Dormitorios</p>                            
                        </div>
                        <div class="card-text-icons">
                            <i class="fas fa-dollar-sign"></i>
                              <p>1.200.000</p>                    
                        </div>

                        <a href="#" class="boton">Comprar</a>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-img">
                        <img src="/images/ventas/card-3.jpg" alt="">
                    </div>
                    <div class="card-text">
                        <div class="card-text-icons">
                            <i class="fas fa-bed"></i>
                            <p>6 Dormitorios</p>                            
                        </div>
                        <div class="card-text-icons">
                            <i class="fas fa-dollar-sign"></i>
                            <p>2.000.000</p>                    
                        </div>

                        <a href="#" class="boton">Comprar</a>
                    </div>
                </div>
                  
                
            </div>
       
        </div>
    </main>
